/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

  /* background: rgb(0, 181, 40); For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53)); For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53)); For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53)); For Firefox 3.6 to 15 */
  /*background: linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53)); Standard syntax */


nav .brand-logo {
  /*color: #444;*/

  /*background: linear-gradient(rgb(94, 226, 14), rgb(5, 152, 7));*/
}

nav {
  /*background: rgb(0, 181, 40);*/
  /*background: -webkit-linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53));*/
  /*background: -o-linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53));*/
  /*background: -moz-linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53));*/
  /*background: linear-gradient(rgb(97, 236, 22), rgb(1, 157, 53));*/



}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.profile {
  margin:25px;
  width: 70%;
}
